.radar-chart{
    background: black;
    .recharts-polar-grid-angle{
        line{
            display: none;
        }
    }
    .recharts-polar-radius-axis{
        display: none;
    }

    .recharts-polar-angle-axis-tick{
        text-transform: capitalize;
    }
}