.main-wrapper{
    @include breakpoint(1157px){
        flex-direction: column;
    }

    main{
        padding: 68px 109px;

        @include breakpoint(1157px){
            padding: 60px 80px;
        }
        @include breakpoint(1024px){
            padding: 50px 60px;
        }
    }

}