.user_page{
    h1.title{
        margin-bottom: 41px;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 50% */
        color: black;

        span.first-name{
           @apply text-red;
        }
    }

    p.subtitle{
        margin-bottom: 71px;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
    }

    .user_info{
        max-width: none;

        @include breakpoint(1400px){
            max-width: 400px;
        }

        &_left{
            
            @include breakpoint(1400px){
                max-width: 623px;
            }
        }

        &_right{
            gap: 30px;

            @include breakpoint(1400px){
                gap: 25px;
            }
        }
    }
}