.bar_chart{
    &__wrapper{
        background: grey;
        position: relative;
        width: 835px; /* Same as SVG width */
        height: 320px; /* Same as totalHeight */
        // height: 145px;
    
        @include breakpoint(1024px){
            width: 620px;
        }
    }
    

    .bar{
        width: 20px;
    }

    .tick{
        line{
            display: none;
        }
        text{
            margin-left: 45px;
            color: #9B9EAC;
            text-align: right;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 171.429% */
        }
    }
}