header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    padding: 45px 0 50px 0;

    @include breakpoint(640px){
        padding: 22px 20px;
    }
}

nav{
    display: flex;
    gap: 57px;

    @include breakpoint(640px){
        gap: 26px;
    }

    a{
        font-size: 24px;
        text-align: right;
        font-weight: 500;
        line-height: 34px;
        color: $red;

        @include breakpoint(640px){
            font-size: 12px;
        }
    }
    a.active{
        text-decoration: underline;
    }
}

// figure.logo{
//     background: no-repeat center/cover;
//     background-size: cover;
//     width: 210px;  // or whatever size you prefer
//     height: 68px; // or whatever size you prefer
// }

.logo{
    display: block;

    @include breakpoint(640px){
       display: none;
    }
}

.logo-small{
    display: none;

    @include breakpoint(640px){
       display: block;
    }
}


